/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 1900px;
  max-height: 1080px;
  margin: 0 auto;
  padding: 15px;
}

/* Estilos del encabezado */
header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 10px;
  color: #fff;
}

header h1, header h2 {
  color: #fff;
  margin: 0;
}

header p {
  margin: 0;
}

.site-title {
  font-size: 2em; /* Tamaño grande para el título */
  margin: 0; /* Elimina el margen por defecto */
}

.subtitle {
  font-size: 1em; /* Tamaño más pequeño para el subtítulo */
  margin-top: 0.5em; /* Espacio entre el título y el subtítulo */
  color: #666; /* Color más suave para el subtítulo */
}

/* Estilos del logo */
.nav-logo img {
  width: 80px;
}

/* Estilos de los botones de navegación */
.btn-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.btn {
  text-decoration: none;
  color: #fff;
  background-color: #333;
  padding: 10px 20px;
  margin: 0 10px;
  border: 2px solid #ccc; /* Marco alrededor de los botones */
  border-radius: 8px; /* Bordes redondeados */
  transition: background-color 0.3s, border-color 0.3s;
}

.btn:hover {
  background-color: #555;
  border-color: #999;
}

/* Estilos de la barra de navegación */
.btn-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.btn {
  text-decoration: none;
  color: #fff;
  background-color: #333;
  padding: 10px 20px;
  margin: 0 10px;
  border: 2px solid #ccc; /* Marco alrededor de los botones */
  border-radius: 8px; /* Bordes redondeados */
  transition: background-color 0.3s, border-color 0.3s;
}

.btn:hover {
  background-color: #555;
  border-color: #999;
}

/* Estilos del contenido principal */
h1, h2 {
  color: #333; /* Color de los encabezados */
  display:flex;
}

h2 {
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

/* Estilos del pie de página */
footer {
  text-align: center;
  margin-top: 50px;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    text-align: center;
  }
}
