/* Estilos globales */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f4f4f4;
  min-width: 801px;
}

a {
  text-decoration: none;
  color: #f4f4f4;
}

ul {
  list-style: none;
}
img {
  max-width: 100%;
}

.container {
  max-width: 90%;
  min-width: 801px;
  margin: 0 auto;
  padding: 10px;;
}

/* Encabezado alineado */
.header-aligned {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 20px;
}

.header-aligned .nav-logo img{
  width: 250px;
  height:auto;
}

.header-aligned .cart-icon img {
  width: 85px;
  height: auto;
}

.header-aligned .cart-icon img, 
.header-aligned .nav-logo img {
  transition: transform 0.3s;
  cursor: pointer;
}

.header-aligned .nav-logo img:hover,
.header-aligned .cart-icon img:hover {
  transform: scale(1.1);
}

.header-aligned .search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin: 0 20px;
  gap: 10px;
}

.header-aligned .search-bar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #f4f4f4;
  border-radius: 10px;
}

.header-aligned .search-bar button{
  background-color: #333;
  color: #f4f4f4;
  padding: 10px 15px;
  border: gray 1px solid;
  border-radius: 10px;
  display: block;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

.header-aligned .search-bar button:hover {
  color: gray;
  border-color: gray 1px solid;
}

.navbar {
  background-color: #333;
  padding: 20px;
  
}

.navbar .container {
  display: flex;
  justify-content: space-between;
}

.navbar .nav-links ul {
  display: flex;
  justify-content: center;
  text-align: center;
}

.navbar ul li a {
  padding: 10px 60px;
  border: transparent 1px solid;
  display: block;
  font-weight: 600;
  transition: 0.5s;
}

.navbar ul li a:hover {
  color: gray;
  border: gray 1px solid;
  border-radius: 10px;
  cursor: pointer;
}

.dropdown {
  display: none;
}

/* Estilos del pie de página */
footer {
  text-align: center;
  margin-top: 2px;
  padding: 2px;
  background-color: #333;
  color: #fff;
}

footer .redes-sociales a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
}

footer .redes-sociales a:hover {
  color: #ccc;
}

@media (max-width: 800px) {
  .header-aligned .search-bar, .header-aligned .cart-icon{
    display: none;
  }
  .header-aligned {
    flex-direction: column;
  }
  .header-aligned .nav-logo img {
    width: auto;
    height: 100px;
  }
  
  .dropdown {
    display: block;
  }
  .dropdown .dropdown-content {
    display: none;
  }
  .navbar {
    display: none;
  }
  .dropdown .dropbtn {
    display: block;
    padding: 10px 20px;
    background-color: #333;
    color: #f4f4f4;
    border: transparent 1px solid;
    cursor: pointer;
    font-weight: 600;
    transition: 0.5s;
    margin: 0 auto;
  }

  .dropdown .dropbtn:hover {
    color: gray;
    border: gray 1px solid;
    border-radius: 10px;
  }

  .dropdown-content {
    display: none;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    flex-direction: column;
  }
  
  .dropdown-content.show {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    left: 52.5%;
    transform: translateX(-50%);
  }
  .dropdown-content.show a {
    padding: 10px 20px;
    border: 333 1px solid;
    background-color: #333;
    border-radius: 10px;
    color: gray;
    display: block;
    font-weight: 600;
    transition: 0.5s;
  }
  .dropdown-content.show a:hover {
    color: #f4f4f4;
    border: #f4f4f4 1px solid;
    border-radius: 10px;
  }
  .carousel-container .carousel{
    display: none;
  }
  .main .content{
    display: none;
  }
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
h1 {
  color: #333;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  background: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  order-radius: 4px;
  position: relative;
}
button {
  margin-left: 10px;
}
  .task-input {
  margin-bottom: 20px;
}
  .task-buttons {
  float: right;
}
